@font-face {
  font-family: 'freight-text-pro-regular';
  src: url('./fonts/FreightTextProBook-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'freight-text-pro-bold';
  src: url('.//fonts/FreightTextProBold-Regular.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'freight-text-pro-light';
  src: url('./fonts/FreightTextProLight-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
}
html{
  font-size: 62.5%;
}
